/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */


@media (max-width: 1024px) {
    .filtres a{
        display: flex;
        padding: 4px 19px;
        align-items: center;
        gap: 10px;
    }

    .bouton-icone{
        display: none;
    }

    .filtre-select-icone {
        padding-right: -10px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #activites {
        display: flex;
        flex-direction: column;
    }
    .activites-cards {
        padding: 20px 19px 20px 19px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        padding: 20px;
        align-self: stretch;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: auto;
        width: 100%;
        height: 100%;
        min-height: 270px;
        max-width: 193.5px;

    }

    .box img {
        width: 100%;
        height: 220px;
        max-width: none;
        object-fit: cover;
    }

    .liste {
        padding-right: 100px;
    }

    .card {
        display: flex;
        width: 100%;
        max-width: 265px;
    }

    footer {
        margin-top: 30px;
    }

}

@media (max-width: 1003px) {

    .activites-cards {
        padding: 20px 19px 20px 19px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 5px;
        padding: 20px;
        align-self: stretch;
    }

    .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: auto;
        width: 100%;
        height: 100%;
        min-height: 270px;
        max-width: 170.5px;

    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        margin: 0;
    }

    .main-container {
        padding: 0;

    }

    header {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    header img {
        margin: auto;
        padding: 30px;
        width: 61px;
        height: 19px;
    }

    nav {
        display: flex;
        flex-direction: row;
    }

    nav li {
        flex: 1;
        text-align: center;
        border-top: none;
        border-bottom: solid 2px transparent;
        font-size: 16px;
        padding: 10px;
    }

   nav li:hover {
        border-color: #0065FC;
        padding-bottom: 20px;
        border-top: none;
        border-bottom: #0065FC solid 2px;
   }

    ul {
        width: 100%;
    }

    h1 {
        height: 52px;
        padding-left: 25px;
        padding-top: 20px;
    }

    .recherche {
        margin: 0;
    }

    .form-recherche {
        display: flex;
        width: 85%;
        margin-left: 1.7rem;
        padding-top: 1rem;
    }

    .forme-icone-gps {
        border-radius: 1.1rem 0 0 1.1rem;
    }

    .form-input-recherche {
        flex: 0.2rem;
        padding: 1.1rem;
        width: 8rem;
    }

    .form-recherche-bouton-input {
        border-radius: 1rem;
        padding: 0 20px;
    }

    .form-recherche-bouton-text {
        display: none;
    }

    .bouton-icone {
        display: block;
    }

    .recherche p {
        width: 335px;
        height: 19px;
        padding-left: 25px;
    }

    .filtres {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
    }

    .filtre-titre {
        display: flex;
        margin: 0;
        padding-left: 25px;
    }

    .filtre-conteneur {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filtre-selection {
        margin: 0;
        margin-top: 15px;
        margin-left: 15px;
    }

    .filtresIcon {
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .filtre-select-icone {
        padding-right: -10px;
    }

    .filtres a {
        padding: 0;
    }

    .info {
        padding: 20px;
        display: flex;
        height: 38px;
        margin-bottom: 0;
    }

    .fa-info {
        padding: 20px;
        display: flex;
        justify-content: center;
        width: 20px;
        height: 24px;
        margin-bottom: 0;
    }

    .hebergements {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        padding: 0;
        border-radius: 0;
    }

    .hebergements-title {
        display: flex;
        background-color: white;
        padding-left: 20px;
        padding-bottom: 0;
    }

    .hebergements-title {
        margin: 0;
        margin-top: 20px;
    }

    .section-title {
        padding: 20px;
        width: 300px;
        height: 26px;
    }

    .cardsHosting {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        min-width: 550px;
        height: 192px;
    }
    
    .hebergements-cards {
        display: flex;
        flex-direction: column;
        /* width: 720px; */
        gap: 25px;
        align-items: center;
        background-color: white;
    }

    .hostingMainViewmore {
        background-color: white;
        font-size: 18px;
        padding-bottom: 35px;
    }

    .card {
        display: flex;
        margin: 0;
        /* flex-direction: row;
        justify-content: flex-start; */
        width: 100%;
        height: 135px;
        min-width: 550px;
    }

    .fa-chart-line {
        padding-right: 20px;
    }

    .populaires {
        margin-top: auto;
    }

    .populaires-cards {
        display: flex;
        flex-direction: ro;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 30px;
    }

    .populaires-cards .card {
        margin-top: 0px;
    }

    #activites {
        justify-content: center;
    }
    
    .activites-cards {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .box{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 570px;
        justify-content: center;
        align-items: flex-start;
    }

    .box h6 {
        padding-left: 20px;
    }

    .box-liste {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        gap: 50px;
    }

    footer {
        margin-top: 40px;
    }

}

@media (max-width: 600px) {

    .cardsHosting {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        min-width: 500px;
        height: 192px;
    }

    .card {
        display: flex;
        margin: 0;
        width: 100%;
        height: 135px;
        min-width: 500px;
    }

    .activites-cards {
        background: white;
        gap:30px;
        max-width: 375px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .box{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 500px;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 571px) {

    .cardsHosting {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        min-width: 345px;
        height: 192px;
    }

    h2 {
        margin-left: 50px;
    }

    .card {
        display: flex;
        margin: 0;
        width: 100%;
        height: 135px;
        min-width: 345px;
    }

    .activites-cards {
        background: white;
        max-width: 345px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .box{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 365px;
        justify-content: center;
        align-items: flex-start;
    }

}

@media (max-width: 375px) {

    .cardsHosting {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
        min-width: 320px;
        height: 192px;
    }

    .card {
        display: flex;
        width: 100%;
        height: 135px;
        min-width: 320px;
    }


    .activites-cards {
        background: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:30px;
        padding: 0;
        margin: 0;
    }

    .box{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 320px;
        justify-content: center;
        /* align-items: flex-start; */
    }
    /* .box img {
        height: 160px;
    }*/

    .footer {
        width: 100%;
        margin: auto;
    }
}