/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */


@media (max-width: 1440px){
    .bouton-icone {
        display: none;
    }
}

@media (max-width: 1024px) {
    .filtres a{
        display: flex;
        padding: 4px 19px;
        align-items: center;
        gap: 10px;
    }

    .bouton-icone{
        display: none;
    }

    .filtre-select-icone {
        padding-right: -10px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards {
        padding: 20px 19px 20px 19px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 30px;
        padding: 30px;
        align-self: stretch;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex: 1 0 0;
    }

    .box img {
        width: 100%;
        height: 200px;
    }

    .liste {
        padding-right: 100px;
    }

}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        margin: 0;
    }

    .main-container {
        padding: 0;

    }

    header {
        margin: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    header img {
        margin: auto;
        padding: 30px;
        width: 61px;
        height: 19px;
    }

    nav li {
        flex: 1;
        text-align: center;
        border-top: none;
        border-bottom: solid 2px transparent;
        font-size: 16px;
        margin-right: 50px;
    }

   nav li:hover {
        border-color: #0065FC;
        padding-bottom: 20px;
        border-top: none;
        border-bottom: #0065FC solid 2px;
   }

    h1 {
        /* width: 335px; */
        height: 52px;
        padding-left: 25px;
        padding-top: 20px;
    }

    .recherche {
        margin: 0;
    }

    .form-recherche {
        display: flex;
        width: 85%;
        margin-left: 1.7rem;
        padding-top: 1rem;
    }

    .forme-icone-gps {
        border-radius: 1.1rem 0 0 1.1rem;
    }

    .form-input-recherche {
        flex: 0.2rem;
        padding: 1.1rem;
        width: 8rem;
    }

    .form-recherche-bouton-input {
        border-radius: 1rem;
        padding: 0 20px;
    }

    .form-recherche-bouton-text {
        display: none;
    }

    .bouton-icone {
        display: block;
    }

    /* #ville {
        height: 19px;
    } */

    .recherche p {
        width: 335px;
        height: 19px;
        padding-left: 25px;
    }

    /* .btn {
        width: 335px;
        height: 49px;
    } */

    .filtres {
        /* padding: 20px; */
        /* gap: 20px;  */
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
    }


    .filtre-titre {
        display: flex;
        margin: 0;
        padding-left: 25px;
    }

    .filtre-conteneur {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .filtre-selection {
        margin: 0;
        margin-top: 15px;
        margin-left: 15px;
    }
    .filtresIcon {
        display: flex;
        /* width: 100%; */
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .filtre-select-icone {
        padding-right: -10px;
    }

    .filtres a {
        padding: 0;
    }

    .info {
        padding: 20px;
        display: flex;
        width: 335px;
        height: 38px;
    }

    .fa-info {
        padding: 20px;
        display: flex;
        justify-content: center;
        width: 20px;
        height: 24px;
        margin-bottom: 0;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
        width: 375px;
    }

    .hebergements-and-populaires section {
        padding: 0;
        border-radius: 0;
    }

    .hebergements-title {
        display: flex;
        background-color: white;
        padding-left: 20px;
        padding-bottom: 0;
    }

    .hebergements-title h2 {
        margin: 0;
        margin-top: 20px;
    }

    .section-title {
        padding: 20px;
        width: 300px;
        height: 26px;
    }

    .cardsHosting {
        display: flex;
        flex-direction: column;
        width: 335px;
        height: 192px;
    }
    
    .hebergements-cards {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .hostingMainViewmore {
        background-color: white;
        font-size: 18px;
        padding-bottom: 35px;
    }

    .card {
        width: 335px;
        height: 135px;
        display: flex;
        align-items: center;
        margin: 15px;
    }

    .fa-chart-line {
        padding-right: 20px;
    }


    .populaires-cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    #activites {
        justify-content: center;
    }
    
    .activites-cards {
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .box img {
        width: 315px;
        object-fit: cover;
        object-position: center;
    }

    .box h5 {
        padding-left: 20px;
    }
    
    footer {
        margin-top: 10px;
        width: 375px;
        height: 461px;
    }

    .box-liste {
        display: flex;
        flex-direction:column;
        align-items: flex-start;
        gap: 50px;
    }

}