/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body, ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.fa-solid {
    color: var(--main-color);
}

/**** Début de mon header, nav + Logo ****/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1440px;
    padding-bottom: 40px;
}

header img {
    display: flex;
    width: 60px;
    height: 20px;
    padding-top: 30px;
}

ul {
    list-style: none;
    gap: 40px;
}

li {
    padding-top: 20px;
    transition-duration: 0.1s;
    border-top: 2px transparent solid;
}

li:hover {
    color: #0065FC;
    border-top: #0065FC 2px solid;
}

/**** Début de mon main ****/
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* Début de ma section recherche */

/* button */

.form-recherche {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
  }
  .form-icone-gps {
    background-color: #F2F2F2;
    padding: 1.1rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
  }
  .local-icone {
    color: black;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .form-input-recherche {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
  }
  .form-input-recherche::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 1.1rem;
    font-weight: 800;
    color: black;
  }
  
  .form-recherche-bouton-input {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
  }

  .bouton-icone {
    display: none;
}

.filtres {

    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.filtre-conteneur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.filtre-titre {
    margin: 0 2rem 1rem 0;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.filtre-selection {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: 800;
}

.filtresIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -2px;
}

.filtre-select-icone {
    display: flex;
    padding-left: 15px;
    color: #0065FC;
}

.filtre-lien {
    padding: 0;
}


.filtresIcon i {
    padding-right: 10px;
}

.filtre-selection:hover {
    background: var(--filter-bg-color);
    transition: 0.1s;
}

/* infos */

.info {
    margin-bottom: 30px;
}

.info span {
    margin-left: 10px;
}

.info i {
    border: var(--main-bg-color) 2px solid;
    border-radius: 50%;
    padding: 5px 10px;
    align-items: center;
}

/* Début section Hébergements et Populaires */

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}


.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.hebergements-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -10px;
}

.cardsHosting {
    width: 230px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin: 15px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition-duration: 0.1s;
}

.cardsHosting:hover {
    transform:scale(1.08)
}

.hebergements-cards a {
    margin: 0;
}

.hebergements-cards .cardHosting {
    margin-top: 10px;
    margin-right: 0;
    box-sizing: border-box;
    padding: 0.320rem;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.hebergements-cards .card-content {
    /* width: 100%; */
    padding-left: 15px;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hostingMainViewmore {
    padding-top: 25px;
    padding-left: 20px;
    font-weight: 800;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    transition-duration: 0.1s;
}

.populaires-cards .card:hover {
    transform: scale(1.08);
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Début de ma section activité */

.titre-activites {
    display: flex;
    font-family: 'Raleway', sans-serif;
    padding-left: 30px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    column-gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: white;
    border-radius: 20px 20px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition-duration: 0.1s;
}

.box h6 {
    font-size: 16px;
    margin: 0;
    padding: 20px;
    height: 26px;
}

.activites-cards img {
    max-width: 297px;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 297/380;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards h4 {
    font-weight: 600;
    font-size: 16px;
}

.box:hover {
    transform: scale(1.08);
}

/* Début de mon footer */
footer {
    margin-top: 150px;
    padding-bottom: 50px;
    background-color: var(--main-bg-color);
}

.box-liste {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
    padding-left: 30px; 
}

.liste {
    display: flex;
    flex-direction: column;
    padding-right: 250px;
}